<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Mis Facturas</h1>
</div>


<div class="container">
	<div class="table-responsive">



		<h2>Productos en mi carrito</h2>
	
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Mail</th>
					<th>Fecha</th>
					<th>Total</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let c of arrayFacturas">
					<td scope="row">{{ c.id }}</td>
					<td>{{ c.cliente }}</td>
					<td>{{ c.mailcliente }}</td>
					<td>{{ c.fecha }}</td>
					<td>{{ c.total }}</td>
				<td>
						<button (click)="getFactura(c.id)" class="btn btn-warning"><i class="fas fa-edit"></i></button>
					</td>
				</tr>
			</tbody>
		  </table>
		  <br>

	</div>
</div>